.modal-backdrop.show {
    opacity: 0.5;
}

/*Css for todo page*/
.to_do .cart_task:hover {
    cursor: pointer;
    background-color: #4c91d6!important;
}

/*CSS for plan page*/
.layout_add_plan .select_add_customer{
    position: relative;
}
.layout_add_plan .select_add_customer i::before {
    position: absolute;
    top: 50%;
    font-size: 26px !important;
    right: 10px;
}
.layout_add_plan #selected {
    /* Remove default list styling */
    list-style-type: none;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    background-color: white;
    max-height: 250px;
    height: fit-content;
    overflow-y: scroll;
    border-radius: 4px;
}

.layout_add_plan #selected li a {
    margin-top: -1px;
    padding: 8px 6px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block;
    font-weight: 400;
}

.layout_add_plan #selected li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.layout_add_plan .selected_user .tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: var(--theme-color) !important;
    padding: 4px 8px;
    margin-top: 8px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.layout_add_plan .selected_user .icon_delete {
    margin-left: 6px;
}
.layout_add_plan .selected_user .icon_delete:hover {
    cursor: pointer;
}

.avt_member img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.avt_member img:not(:first-child) {
    margin-left: -12px;
}
.time_create {
    color: #e7b584;
    padding: 4px 8px;
    border-radius: 8px;
    margin-top: 4px;
    background-color: white;
    font-size: 13px;
}
.btn_plus{
    background-color: #e7b584;
    border: none;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 13px;
    margin-left: -5px;
    color: white;
    display: flex;
    align-items: center;
}
/*checkbox*/
.list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    list-style: none;
    overflow: hidden;
    width: 100%;
    color: black !important;
}

.list .list-item{
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ECF0F1;
}

.list .list-item:last-child{
    border: 0;
}

.check-label{
    display: flex;
    font-size: 14px;
    height: 48px;
    margin: 0;
}
.check-label:hover{
    cursor: pointer;
    background: #F1F1F1;
}

.check-label-box{
    display: flex;
    align-self: center;
    position: relative;
    height: 14px;
    width: 14px;
    margin: 0 12px;
    cursor: pointer;
    border: 2px solid black;
}

.check-label-text{
    display: flex;
    align-self: center;
    position: relative;
    cursor: pointer;
    padding: 24px 0;
}

.hidden-box{
    opacity: 0;
    position: absolute;
    appearance: none;
}

.check-label-text:after{
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    transition: width 100ms ease-in-out;
}

.hidden-box:checked + .check-label .check-label-box:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3px;
    width: 4px;
    height: 9px;
    border: solid black;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
}

.hidden-box:checked + .check-label .check-label-text:after{
    width: 100%;
}

.list_member_selected {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    padding: 0 8px;
    min-height: 100%;
}

.plan_wrapper p {
    margin-bottom: 0 !important;
    font-size: 14px;
    color: black;
}

.plan_wrapper {
    background-color: #fee4cb;
    border-radius: 4px;
}
