.modal-backdrop.show {
    opacity: 0.5;
}

/*Css for todo page*/
.to_do .cart_task:hover {
    cursor: pointer;
    background-color: #4c91d6!important;
}

/*CSS for plan page*/
.layout_add_plan .select_add_customer{
    position: relative;
}
.layout_add_plan .select_add_customer i::before {
    position: absolute;
    top: 50%;
    font-size: 26px !important;
    right: 10px;
}
.layout_add_plan #selected {
    /* Remove default list styling */
    list-style-type: none;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    background-color: white;
    max-height: 200px;
    height: fit-content;
    overflow-y: scroll;
    border-radius: 4px;
}

.layout_add_plan #selected li a {
    margin-top: -1px;
    padding: 8px 6px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block;
    font-weight: 400;
}

.layout_add_plan #selected li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.layout_add_plan .selected_user .tag {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: var(--theme-color) !important;
    padding: 4px 8px;
    margin-top: 8px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
}

.layout_add_plan .selected_user .icon_delete {
    margin-left: 6px;
}
.layout_add_plan .selected_user .icon_delete:hover {
    cursor: pointer;
}
