.list_member_modal_task select{
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    font-size: 14px;
}
.activity_comment {
    display: flex;
    width: 100%;
}
.activity_comment img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 30px;
}

.activity_comment_input {
    width: 100%;
}
.input_comment {
    line-height: 42px;
    height: 42px;
    font-size: 14px;
    display: inline-block;
    border-radius: 4px;
    border: 1px #cdcdcd solid;
    background-color: #f1f1f1;
    padding: 4px 12px;
    width: 100%;
    color: #565657;
}
.description_modal {
    width: 100%;
    resize: none;
}
